In [1]:
import numpy as np
import pandas as pd

In [6]:
data = '/Users/patrick/Desktop/Lighthouse_labs/Data Projects/Capstone---Predicting-market-value-of-used-cars/Data/vehicles.csv'

In [8]:
df = pd.read_csv(data, low_memory=False)
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [59]:
for col in df.columns:
    print(col)

region
price
year
manufacturer
model
condition
cylinders
fuel
odometer
title_status
transmission
drive
type
paint_color
state
Age

In [10]:
# count the number of missing values in each column
df.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        426880 non-null  object
 1   price         426880 non-null  int64
 2   year          425675 non-null  float64
 3   manufacturer  409234 non-null  object
 4   model         421603 non-null  object
 5   condition     252776 non-null  object
 6   cylinders     249202 non-null  object
 7   fuel          423867 non-null  object
 8   odometer      422480 non-null  float64
 9   title_status  418638 non-null  object
 10  transmission  424324 non-null  object
 11  drive         296313 non-null  object
 12  type          334022 non-null  object
 13  paint_color   296677 non-null  object
 14  state         426880 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 48.9+ MB

In [12]:
df.drop(['id', 'url', 'region_url', 'VIN', 'image_url', 'description', 'county', 'lat', 'long', 'posting_date', 'size'], axis=1, inplace=True)

In [16]:
# return unique values in region column
df['year'].unique()

array([  nan, 2014., 2010., 2020., 2017., 2013., 2012., 2016., 2019.,
       2011., 1992., 2018., 2004., 2015., 2001., 2006., 1968., 2003.,
       2008., 2007., 2005., 1966., 2009., 1998., 2002., 1999., 2021.,
       1997., 1976., 1969., 1995., 1978., 1954., 1979., 1970., 1974.,
       1996., 1987., 2000., 1955., 1960., 1991., 1972., 1988., 1994.,
       1929., 1984., 1986., 1989., 1973., 1946., 1933., 1958., 1937.,
       1985., 1957., 1953., 1942., 1963., 1977., 1993., 1903., 1990.,
       1965., 1982., 1948., 1983., 1936., 1932., 1951., 1931., 1980.,
       1967., 1971., 1947., 1981., 1926., 1962., 1975., 1964., 1934.,
       1952., 1940., 1959., 1950., 1930., 1956., 1922., 1928., 2022.,
       1901., 1941., 1924., 1927., 1939., 1923., 1949., 1961., 1935.,
       1918., 1900., 1938., 1913., 1916., 1943., 1925., 1921., 1915.,
       1945., 1902., 1905., 1920., 1944., 1910., 1909.])

In [17]:
df['Age'] = 2023 - df['year']

In [23]:
df = df.dropna(subset=['year', 'odometer'])

In [24]:
df.head()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,Age
27,auburn,33590,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923.0,clean,other,NaN,pickup,white,al,9.0
28,auburn,22590,2010.0,chevrolet,silverado 1500,good,8 cylinders,gas,71229.0,clean,other,NaN,pickup,blue,al,13.0
29,auburn,39590,2020.0,chevrolet,silverado 1500 crew,good,8 cylinders,gas,19160.0,clean,other,NaN,pickup,red,al,3.0
30,auburn,30990,2017.0,toyota,tundra double cab sr,good,8 cylinders,gas,41124.0,clean,other,NaN,pickup,red,al,6.0
31,auburn,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,truck,black,al,10.0

In [25]:
df['condition'].value_counts()

good         121235
excellent     99765
like new      21178
fair           6769
new            1303
salvage         601
Name: condition, dtype: int64

In [27]:
df['type'].value_counts()

sedan          85760
SUV            76066
pickup         42686
truck          35231
other          21698
coupe          18986
hatchback      16505
wagon          10649
van             8423
convertible     7659
mini-van        4773
offroad          609
bus              517
Name: type, dtype: int64

In [28]:
df['paint_color'].value_counts()

white     78268
black     62017
silver    42481
blue      30925
red       30163
grey      24086
green      7295
custom     6699
brown      6553
yellow     2119
orange     1970
purple      678
Name: paint_color, dtype: int64

In [29]:
region = df['region'].value_counts()

In [40]:
df['region']

27         auburn
28         auburn
29         auburn
30         auburn
31         auburn
           ...
426875    wyoming
426876    wyoming
426877    wyoming
426878    wyoming
426879    wyoming
Name: region, Length: 421344, dtype: object

In [41]:
df['region'] = df['region'].apply(lambda s: s if str(s) in region[:50] else 'others')

In [45]:
mf = df['manufacturer'].value_counts()

In [46]:
df['manufacturer'] = df['manufacturer'].apply(lambda s: s if str(s) in mf[:20] else 'others')

In [47]:
mf

ford               70313
chevrolet          54414
toyota             33790
honda              21026
nissan             18818
jeep               18814
ram                18227
gmc                16609
bmw                14609
dodge              13546
mercedes-benz      11595
hyundai            10223
subaru              9422
volkswagen          9252
kia                 8352
lexus               8132
audi                7528
cadillac            6871
chrysler            5956
acura               5938
buick               5452
mazda               5373
infiniti            4773
lincoln             4182
volvo               3358
mitsubishi          3280
mini                2368
pontiac             2277
rover               2091
jaguar              1941
porsche             1375
mercury             1184
saturn              1081
alfa-romeo           892
tesla                866
fiat                 790
harley-davidson      153
ferrari               95
datsun                63
aston-martin          24
land rover            21
morgan                 3
Name: manufacturer, dtype: int64

In [50]:
model = df['model'].value_counts()

In [51]:
model

f-150                      7870
silverado 1500             5043
1500                       4178
camry                      3070
silverado                  2991
                           ...
2012 Mustang                  1
1500 hemi crew                1
xlt x-cab                     1
f150 fx/2 sport               1
Paige Glenbrook Touring       1
Name: model, Length: 29236, dtype: int64

In [52]:
df['model'] = df['model'].apply(lambda s: s if str(s) in model[:50] else 'others')

In [56]:
model

f-150                      7870
silverado 1500             5043
1500                       4178
camry                      3070
silverado                  2991
                           ...
2012 Mustang                  1
1500 hemi crew                1
xlt x-cab                     1
f150 fx/2 sport               1
Paige Glenbrook Touring       1
Name: model, Length: 29236, dtype: int64

In [57]:
for col in df.columns:
    print (col, len(df[col].value_counts().index))

region 51
price 15508
year 113
manufacturer 21
model 51
condition 6
cylinders 8
fuel 5
odometer 104630
title_status 6
transmission 3
drive 3
type 13
paint_color 12
state 51
Age 113

In [58]:
# save to csv

df.to_csv('Data/data.csv', index=False)

In [60]:
df.head()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,Age
27,others,33590,2014.0,gmc,others,good,8 cylinders,gas,57923.0,clean,other,NaN,pickup,white,al,9.0
28,others,22590,2010.0,chevrolet,silverado 1500,good,8 cylinders,gas,71229.0,clean,other,NaN,pickup,blue,al,13.0
29,others,39590,2020.0,chevrolet,others,good,8 cylinders,gas,19160.0,clean,other,NaN,pickup,red,al,3.0
30,others,30990,2017.0,toyota,others,good,8 cylinders,gas,41124.0,clean,other,NaN,pickup,red,al,6.0
31,others,15000,2013.0,ford,others,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,truck,black,al,10.0

In [69]:
ratings = pd.read_csv('/Users/patrick/Desktop/Lighthouse_labs/Data Projects/Capstone---Predicting-market-value-of-used-cars/Data/Ratings_cleaned.csv')

In [70]:
ratings.head()

  Company Model  Year    Rating
0   acura    cl  2001  4.114754
1   acura    cl  2002  3.976190
2   acura    cl  2003  4.116564
3   acura   ilx  2013  4.416667
4   acura   ilx  2014  4.166667

In [73]:
ratings.groupby

(5981, 4)